<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CSS homework 3</title>
  </head>
  <body>
    <a href="images/hw.png" target="_blank">
      <img src="images/hw.png" width="400" alt="" />
    </a>
    <ul>
      <li>Сделать подобно картинке</li>
      <li>использовать заготовку hw.cssб свои стили писать под /* Your styles go below */</li>
      <li>использовать таблицу сброса из прошлого ДЗ</li>
      <li>иконка favorite лежит в папке images</li>
      <li>основная картинка карточки там же (чтоб не искать в интернете)</li>
      <li>header должен быть fixed (приклеенный сверху)</li>
      <li>ширина основной области 1170px (область с заголовком, карточками и постраничной навигацией)</li>
      <li>пункт меню Gallery сделать активным (на картинке подчеркивание)</li>
      <li>при наведении на кнопку фоновый цвет становится светлее основного</li>
      <li>при активном состоянии кнопки фоновый цвет становится темнее основного</li>
      <li>первая страница постраничной навигации не кликабельна и не имеет подчеркивания</li>
      <li>использовать модель border-box</li>
      <li>все содержимое внутри body обернуть в &lt;div class="wrapper"&gt;...&lt;div&gt;</li>
      <li>советую выборку в стилях делать по классам, это упростит задачу. Но это не является обязательным</li>
      <li>не изученные нами свойства, которые вам пригодятся находятся под комментарием unknown props</li>
      <li>не забывайте про валидацию</li>
    </ul>
  </body>
</html>
