<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>JS lesson 19</title>
  </head>
  <body>
    <!-- just text -->
    <!-- <ul>
      <li>
        <span>
          plain text
        </span>
      </li>
      <li>
        <span>
          plain text
        </span>
      </li>
      <li>
        <span>
          plain text
        </span>
      </li>
    </ul> -->
    <!-- comment is also in DOM -->

    <!-- <div id="container">Container</div>
    <form>
      <input type="checkbox" name="color" />
      <label>Red</label>
      <input type="checkbox" name="color" />
      <label>Green</label>
      <input type="checkbox" name="color" />
      <label>Blue</label>
    </form>
    <div class="card">card 1<span>span</span></div>
    <div class="card">card 2<span>span</span></div>
    <div class="card">card 3<span>span</span></div>
    <div class="card">card 4<span>span</span></div> -->

    <!-- <div class="row">
      <div class="container">
        <div class="column">
          <div class="card">
            <div class="card__inner">
              <h2 class="card__title">card title 1</h2>
              <p class="card__desc">card desc 1</p>
              <p class="card__desc">card desc 1</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card__inner">
              <h2 class="card__title">card title 2</h2>
              <p class="card__desc">card desc 2</p>
              <p class="card__desc">card desc 2</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card__inner">
              <h2 class="card__title">card title 3</h2>
              <p class="card__desc">card desc 3</p>
              <p class="card__desc">card desc 3</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <p>Just a paragraph</p> -->

    <!-- <ul id="list">
      <li>list item 1</li>
      <li>list item 2</li>
      <li>list item 3</li>
    </ul>

    <div id="specific">
      <input type="text" name="name" value="Some value" />
      <a href="#">Link</a>
      <p class="text text--strong">Strong text</p>
    </div> -->

    <!-- <table border="1" cellpadding="10">
      <caption>Table caption</caption>
      <thead>
        <tr>
          <th>thead cell 1</th>
          <th>thead cell 2</th>
          <th>thead cell 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>tbody cell 1</td>
          <td>tbody cell 2</td>
          <td>tbody cell 3</td>
        </tr>
        <tr>
          <td>tbody cell 1</td>
          <td>tbody cell 2</td>
          <td>tbody cell 3</td>
        </tr>
        <tr>
          <td>tbody cell 1</td>
          <td>tbody cell 2</td>
          <td>tbody cell 3</td>
        </tr>
        <tr>
          <td>tbody cell 1</td>
          <td>tbody cell 2</td>
          <td>tbody cell 3</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>tbody cell 1</td>
          <td>tbody cell 2</td>
          <td>tbody cell 3</td>
        </tr>
        <tr>
          <td>tbody cell 1</td>
          <td>tbody cell 2</td>
          <td>tbody cell 3</td>
        </tr>
        <tr>
          <td>tbody cell 1</td>
          <td>tbody cell 2</td>
          <td>tbody cell 3</td>
        </tr>
        <tr>
          <td>tbody cell 1</td>
          <td>tbody cell 2</td>
          <td>tbody cell 3</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>tfoot cell 1</td>
          <td>tfoot cell 2</td>
          <td>tfoot cell 3</td>
        </tr>
      </tfoot>
    </table>

    <div id="container">Container</div> -->

    <!-- <form>
      <input type="checkbox" name="color" />
      <label>Red</label>
      <input type="checkbox" name="color" />
      <label>Green</label>
      <input type="checkbox" name="color" />
      <label>Blue</label>
    </form> -->
    <!-- <div class="card">card 1<span>span</span></div>
    <div class="card">card 2<span>span</span></div>
    <div class="card">card 3<span>span</span></div>
    <div class="card">card 4<span>span</span></div>

    <div class="row">
      <div class="container">
        <div class="column">
          <div class="card">
            <div class="card__inner">
              <h2 class="card__title">card title 1</h2>
              <p class="card__desc">card desc 1</p>
              <p class="card__desc">card desc 1</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card__inner">
              <h2 class="card__title">card title 2</h2>
              <p class="card__desc">card desc 2</p>
              <p class="card__desc">card desc 2</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card__inner">
              <h2 class="card__title">card title 3</h2>
              <p class="card__desc">card desc 3</p>
              <p class="card__desc">card desc 3</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p>Just a paragraph</p>

    <div id="specific">
      <input type="text" name="name" value="Some value" />
      <a href="#">Link</a>
      <p class="text text--strong">Strong text</p>
    </div> -->

    <script src="js/script.js"></script>
    <!-- <p>Not available</p>
    <p>Not available</p> -->
  </body>
</html>
